@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0;

}

div.container
{
    margin: 0 auto;
    text-align: right;
    padding-top: 15px;
}

div.container a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin: 0 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;

}

/* Border from Y to X  */
div.borderYtoX a:before, div.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before
{
    left: 0;
    top: 0;
}

div.borderYtoX a:after
{
    right: 0;
    bottom: 0;
}

div.borderYtoX a:hover:before, div.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
.navbar-inverse .navbar-toggle {
    background-color:#23b5af;
    border-color: #23b5af;
}
.navbar-default {
    background-color: #ffffff;
    border-bottom: 2px solid green;
}
.navbar{
    border: 0;
    color: limegreen;
}

.navbar-inverse .navbar-brand {
    color: white;
}

/* Nav Dropdown*/
/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 7px 10px;
<<<<<<< HEAD
    font-size: 16px;
=======
    font-size: 15px ;
>>>>>>> f80a9051dd08159433ebac1151a56a2421d9d502
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.affix {
    top: -10px;
    margin-left: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}
.affix {
    position: fixed;
    z-index: 999;
}

.nav .navbar-nav>li>a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.navbar .navbar-nav>li>a:hover{
    background-color: #eeeeee;
    color: limegreen;
    text-decoration: none;
    font-weight: bold;
}
.nav .navbar-nav>li>a:active {
    color: limegreen;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: limegreen;
    background-color: #eeeeee;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: limegreen;
    text-decoration: none;
    background-color: #f5f5f5;}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: limegreen;

}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #eeeeee;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    color: limegreen;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
<<<<<<< HEAD
.dropdown:hover .dropbtn {
    background-color: #white;
=======
.dropbtn:hover {
    background-color: #e0e0e0;
}
.dropbtn a:hover{
    color: limegreen;
>>>>>>> f80a9051dd08159433ebac1151a56a2421d9d502
}


/* Banner */

body {
    font-family: 'Merriweather Sans', sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 4em;
}

.banner {
    position: relative;
    background-color: #23B5AF;
    width: 100%;
    height: 160px;
    margin-top: 10px;
}

.banner .text {
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
}

.diamond {
    position: absolute;
    background-color: rgba(0,0,0,.1);
    width: 60%;
    height: 160px;
    right: 0;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.diamond:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: -100px;
    border-right: 100px solid rgba(0,0,0,.1);
    border-bottom: 80px solid rgba(0,0,0,0);
}

.diamond div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: -100px;
    border-right: 100px solid rgba(0,0,0,.1);
    border-top: 80px solid rgba(0,0,0,0);
}

.banner:hover .diamond {
    width: 25%;
}

.footer{
    background-color: lightgrey;
    text-decoration: none;
    color: black;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

a:focus, a:hover {
    color: orange;
    text-decoration: none;
}

/* Header */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
    margin:0;
    height:120%;
    font-family: 'Josefin Sans', sans-serif;

}
.header{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:400px;
    max-height:550px;
    min-width:300px;
    color:#eee;
}
.header:after{
    content:"";
    width:100%;
    height:40%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);
    background:#1B2030 url(../image/choonl.jpg) top center no-repeat;
    background-size:cover;
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2
}
.header a{
    color:#eee
}
/*.menu{*/
    /*display:block;*/
    /*width:30px;*/
    /*height:30px;*/
    /*border:2px solid #fff;*/
    /*border-radius:3px;*/
    /*position:absolute;*/
    /*right:20px;*/
    /*top:20px;*/
    /*text-decoration:none*/
/*}*/
/*.menu:after{*/
    /*content:"";*/
    /*display:block;*/
    /*width:20px;*/
    /*height:3px;*/
    /*background:#fff;*/
    /*position:absolute;*/
    /*margin:0 auto;*/
    /*top:5px;*/
    /*left:0;*/
    /*right:0;*/
/*}*/
.logo{
    /*border:2px solid limegreen;*/
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    padding:5px 10px;
    font-weight:600;
    font-size:1.2em;
    box-sizing:border-box
}
.sides, .info{
    flex: 0 0 auto;
    width:50%
}
.info{
    width:100%;
    padding:15% 10% 0 10%;
    text-align:center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    background:url(http://favim.com/media/uploads/images/610/140308/black-n-white-cute-funny-iron-man-Favim.com-1462744.jpg) center no-repeat;
    background-size:cover;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px
}
.info h4, .meta{
    font-size:0.7em
}
.meta{
    font-style:italic;
}
@keyframes grow{
    0% { transform:scale(1)}
    50% { transform:scale(1.2)}
}
.content{
    padding:5% 10%;
    text-align:justify
}
.btn{
    color:#333;
    border:2px solid;
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    font-weight:600
}

.twtr{
    margin-top:100px
}

/* Content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1,
h1+p {
    margin: 30px 15px 0;
    font-weight: 300;
}
h1+p a {
    color: #333;
}
h1+p a:hover {
    text-decoration: none;
}
h2 {
    margin: 60px 15px 0;
    padding: 0;
    font-weight: 300;
}
h2 span {
    margin-left: 1em;
    color: #aaa;
    font-size: 85%;
}
.column {
    margin: 15px 15px 0;
    padding: 0;
}
.column:last-child {
    padding-bottom: 60px;
}
.column::after {
    content: '';
    clear: both;
    display: block;
}
.column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px 10px 50px 25px;
    padding: 0;
}
.column div:first-child {
    margin-left: 0;
}
.column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
}
figure {
    width: 3000px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}



/* Zoom In #1 */
.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.danhmuc{
    width: 100%;
}

/* Side Nav*/

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
/* Search */

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

/* Login */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.login-page {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.login-page:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.login-page .info {
    margin: 50px auto;
    text-align: center;
}
.login-page .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.login-page .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.login-page .info span a {
    color: #000000;
    text-decoration: none;
}
.login-page .info span .fa {
    color: #EF3B3A;
}
<<<<<<< HEAD
/*About*/
.about {
    color: black;
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 300;*/
}
.fh5co-person{
    border: 2px solid lavender;
    padding: 20px 10px 5px 10px;
    margin-bottom: 5px;
}
.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
}
.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.social li a {
    font-size: 16px;
    display: table;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}
.social li a i {
    display: table-cell;
    vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
    text-decoration: none;
    border-bottom: none;
}
.social li a.social-box {
    background: #52d3aa;
    color: #fff;
}
.social li a.social-circle {
    background: #52d3aa;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.social li a:hover {
    background: #393e46 !important;
}
.social.social-box a {
    background: #52d3aa;
    color: #fff;
}
.social.social-circle a {
    background: #52d3aa;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.fh5co-person img {
    width: 100px;
    height: 110px;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius:50%;
    border-radius: 50%;
}
.fh5co-person .fh5co-position {
    color: gray;
    display: block;
    margin-bottom: 20px;
}
/*End About*/
/* Search */
=======
>>>>>>> 300b4879b5ecbe411eea42c1b0afb4eaaeef1f46
