body{
    font-size: 16px;
}

.navbar{
    padding: 8px;
    background-color: white;
    border: 0;
    border-bottom: 1px dotted darkgrey;
    margin-bottom: 1%;
    font-weight: bolder;
}
.affix {
            top: 0;
            margin-left: -30px;
            width: 100%;
        }

        .affix + .container-fluid {
            padding-top: 70px;
        }
        .affix {
            position: fixed;
            z-index: 999;
        }

.navbar-inverse .navbar-brand {
    color: #444343;
}

.nav .navbar-nav>li>a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.navbar .navbar-nav>li>a:hover{
    color: limegreen;
    text-decoration: none;
    font-weight: bolder;
}
.nav .navbar-nav>li>a:active {
    color: limegreen;
}
.breadcrumb{
    background-color: white;
    text-align: right;
    margin: 0;
    border-bottom: 1px dotted darkgrey;
}
.breadcrumb>li>a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.breadcrumb>li>a:hover{
    color: limegreen;
    text-decoration: none;
    font-weight: bolder;
}
.breadcrumb>li>a:active {
    color: limegreen;
}

.col-md-4{
    clear: right;
}

.ct2{
    margin-top: 3%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.jumbotron{
    background-color: white;
}

.cl{
    text-align: center;
    padding: 1%;
}

.cr{
    text-align: left;
    padding: 1%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #292929;
}

.dropdown{
    border: 0;
}

.footer{
    clear: both;
    background-color: #292929;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: limegreen;
    text-decoration: none;
    font-weight: bolder;
}
a:active {
    color: limegreen;
}

.navbar .navbar-nav>li>a:hover {
    color: limegreen;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.pc{
    border: 1px solid red;

}