

.hover-effect-1 {
    background-color: whitesmoke;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 22%;
}

.hover-effect-1 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.hover-effect-1:after {
    background-color: limegreen;
    top: 0;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.hover-effect-1 img {
    vertical-align: top;
    width: 90%;
    height: 300px;
    backface-visibility: hidden;
}

.hover-effect-1 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1em;
    opacity: 0;
}

.hover-effect-1 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.hover-effect-1 h3 span {
    display: block;
    font-weight: 700;
}

.hover-effect-1 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hover-effect-1:hover > img,
.hover-effect-1.hover > img {
    opacity: 0.1;
}

.hover-effect-1:hover:after,
.hover-effect-1.hover:after {
    width: 100%;
}

.hover-effect-1:hover figcaption,
.hover-effect-1.hover figcaption {
    opacity: 1;
}

.ttsp{
    color: black;
    text-align: left;
    margin-left: 50px;
    border-left: 1px dotted lightgrey;
}

/* Comment */
.btn{
    margin-bottom: 25px;
    margin-top: 10px;
}

.cmt{
    border-top: 2px solid lightgreen;
}

.hover-effect-2 {
    background-color: whitesmoke;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 20px 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 18%;
}

.hover-effect-2 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.hover-effect-2:after {
    background-color: limegreen;
    top: 0;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.hover-effect-2 img {
    vertical-align: top;
    width: 90%;
    height: 300px;
    backface-visibility: hidden;
}

.hover-effect-2 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1em;
    opacity: 0;
}

.hover-effect-2 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.hover-effect-2 h3 span {
    display: block;
    font-weight: 700;
}

.hover-effect-2 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.hover-effect-2:hover > img,
.hover-effect-2.hover > img {
    opacity: 0.1;
}

.hover-effect-2:hover:after,
.hover-effect-2.hover:after {
    width: 100%;
}

.hover-effect-2:hover figcaption,
.hover-effect-2.hover figcaption {
    opacity: 1;
}

